//heder
.allsearch{
    background: url("/img/Group.svg") no-repeat;
    background-size: cover;
    background-position: center center;
    width: 14px;
    height: 14px;
}
.findViewpoint{
    background: url("/img/tour.svg") no-repeat;
    background-size: cover;
    background-position: center center;
    width: 14px;
    height: 14px;
}